<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/gif' href='/static/rainykitty.gif'/>
    <link rel='stylesheet' href='/static/index.css'/>
    <title>36g Rain Tagger</title>
</head>
<body>
    <div class="row">
    <div class="container">
        <h3 class="center"><a href="https://github.com/fire-eggs/36g-Rain-Tagger" style="color: inherit;">36g Rain Tagger</a></h3>
        <div class="filters">
            <label for="f_tag"><span>Tags</span><input type="range" id="f_tag" value="0.0" min="0" max="1" step="0.1"><output id="f_tag_value">0.0</output></label>
            <label for="f_general"><span>General</span><input type="range" id="f_general" value="0.0" min="0" max="1" step="0.1"><output id="f_general_value">0.0</output></label>
            <label for="f_sensitive"><span>Sensitive</span><input type="range" id="f_sensitive" value="0.0" min="0" max="1" step="0.1"><output id="f_sensitive_value">0.0</output></label>
            <label for="f_explicit"><span>Explicit</span><input type="range" id="f_explicit" value="0.0" min="0" max="1" step="0.1"><output id="f_explicit_value">0.0</output></label>
            <label for="f_questionable"><span>Questionable</span><input type="range" id="f_questionable" value="0.0" min="0" max="1" step="0.1"><output id="f_questionable_value">0.0</output></label>
        </div>

        <input id="file_tags_general" maxlength="100" minlength="0" name="file_tags_general" style="display: none;" type="text" value="">
        <input id="file_tags_character" maxlength="100" minlength="0" name="file_tags_character" style="display: none;" type="text" value="">

        <div class="search">
            <input id="general_tag_input" type="text" autocomplete="off" placeholder="Search general tags">
            <div id="general_tag_suggestions"></div>
            <div id="selected_general_tags"></div>
        </div>
        <div class="search">
            <input id="character_tag_input" type="text" autocomplete="off" placeholder="Search character tags">
            <div id="character_tag_suggestions"></div>
            <div id="selected_character_tags"></div>
        </div>
        {% if allow_file_upload_search %}
        <div class="search">
            <input type="file" id="img" name="img" accept="image/png, image/jpeg, image/gif"/>
        </div>
        <button id="search_button" class="flat">Search by Tags or File</button>
        {% else %}
        <button id="search_button" class="flat">Search by Tags</button>
        {% endif %}
        <button id="clear_button" class="flat">Clear Form</button>
        <button id="display_button" class="flat">Display: Gallery</button>

    </div>
    <div>
        <div style="padding: 1px;">
            <label for='per_page_input'>Per Page: </label><input class="flat" type='number' min='0' name='per_page_input' id='per_page_input' value='25'>
            <label for='page_input'>Page: </label><input class="flat" type='number' min='0' name='page_input' id='page_input' value='1'>
            <button id="go_input" class="flat">Go</button>
        </div>
        <div id="pagination"></div>
        <div id="results"></div>
    </div>
    </div>

    <script src="/static/index.js"></script>
</body>
</html>
