html {
    background-color: #272727;
    font-size: 14px;
    font-family: system-ui, 'Segoe UI', sans-serif;
    color: #d6d6d6;
}

.container {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    width: 240px;
    gap: 10px;
    margin: 5px;
    overflow-y:hidden;
}

.flat {
    padding: 5px;
    border-radius: 10px;
    color: #344a86;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    border: 0;
    transition: 0.3s all;
}

button:disabled {
    cursor: default;
}

.search input {
    display: block;
    margin: 5px 0;
}

.filters label {
    display: block;
    margin: 5px 0;
    text-align: right;
}

label span {
    margin-right: 2px;
    font-size: small;
}

div.message {
    white-space: pre-wrap;
}

.center {
    margin: 4px auto;
}

.filters input[type="range"] {
    vertical-align: middle;
    width: 80px;
}

input[type=text]{
    background-color: #c1c1c1;
}

input[type=number]{
    width: 4em;
    background-color: #c1c1c1;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 220px;
}

#general_tag_suggestions,
#character_tag_suggestions {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    overflow-x: scroll;
    border: 1px solid #006f7e;
    background-color: #383838;
}

.tag_suggestion {
    padding: 5px;
    background: #00756c;
    cursor: pointer;
    color: #e7e7e7;
}

.tag_suggestion:hover {
    background: #00534c;
    color: #c5c5c5;
}

.pill {
    display: inline-block;
    background: #4f3da6;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 1px;
    font-size: 12px;
    color: #e7e7e7;
}

.pill button {
    background: transparent;
    border: none;
    color: #e7e7e7;
    margin-left: 5px;
    cursor: pointer;
}

.pills {
    max-height: 250px;
    overflow-y: auto;
}

.outer_pills {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
    
.row {
    display: grid; /* CG change */
    grid-template-columns: 1fr 5fr 1fr; /* CG change */
    max-width: 95%;
    overflow-y:hidden;
}

.gallery {
    height: 100vh;
    overflow-y:scroll;
}

.m {
    margin: 1em;
}

.fn {
    overflow-wrap: break-word;
}

img.result {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    vertical-align: top;
    border: 3px solid transparent; /* CG change */
}

/* CG change */
img.result.selected {
    border-color: dodgerblue;
}

.rating {
    background-color: #008573;
}

.general {
    background-color: #14005e;
}

.character {
    background-color: #b2be00;
    color: black;
}

.filters {
    display: table;
    margin: 0 auto;
}

.filters label {
    display: table-row;
    text-align: left;
}

.filters label span {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

.pgbtn {
    margin-left: 5px;
}

.grid-contain {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:10px;
}

.grid-contain div {
    border: 1px solid lightgray;
    padding: 3px;
}

/* CG change */
.info-pane {
    border-left: 1px solid #ccc;
    padding: 16px;
    overflow-y: auto;
    background: #383838;
}

@media (max-width: 770px) {
    .container {
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin: 5px auto;
    }

    .search {
        width: 100%;
    }

    .search input {
        font-size: 14px;
    }

    #search {
        width: 100%;
    }

    .row {
        display: block;
    }

    img.result {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }
}
